*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 14px; }
  @media only screen and (min-width: 800px) {
    html {
      font-size: 15px; } }

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #490849;
  width: 100%;
  height: 100%;
  overflow: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #490849; }

span {
  color: #490849; }

@media (max-height: 735px) {
  body {
    overflow: auto; } }

.french-flag {
  height: 1.4rem;
  width: 2.79rem;
  background-color: white;
  position: relative;
  margin-left: 0.5rem;
  clip-path: polygon(7.17% 0, 100% 0%, 92.87% 100%, 0% 100%); }
  .french-flag:before {
    content: "";
    height: 100%;
    width: 1rem;
    left: 0;
    top: 0;
    background: blue;
    position: absolute;
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%); }
  .french-flag:after {
    content: "";
    height: 100%;
    width: 1rem;
    left: 1.79rem;
    top: 0;
    background: red;
    position: absolute;
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%); }

.main {
  width: 100%;
  height: 100%; }

.home {
  position: relative;
  width: 100%;
  padding-top: 18vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 1; }
  .home__wrap {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column; }
  .home__text p {
    font-size: calc(1.5vw + 1.5vh);
    line-height: 1.2;
    font-weight: 700;
    transform: translate(0, 10px);
    opacity: 0;
    transition: all 1s ease; }
  .home__text span {
    font-size: calc(1.2vw + 1.2vh);
    transform: translate(0, 10px);
    opacity: 0;
    transition: all 1s ease; }
    .home__text span div {
      display: inline-block; }
  .home__mybrain {
    margin-top: 1.1vh; }
    .home__mybrain h2 {
      font-weight: 600;
      font-size: 1.15rem;
      margin-bottom: 1.1vh;
      transform: translate(0, 10px);
      opacity: 0;
      transition: all 1s ease; }
    .home__mybrain h3 {
      text-align: left;
      margin-bottom: 1.1vh;
      font-size: 1rem;
      font-weight: 600;
      transform: translate(0, 10px);
      opacity: 0;
      transition: all 1s ease; }
    .home__mybrain .brain-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0.8rem; }

.badges {
  display: flex;
  flex-wrap: wrap; }
  .badges .badge {
    cursor: pointer;
    margin: 1.1vh 10px;
    position: relative;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    padding: 0 6px;
    color: #fff;
    letter-spacing: 1.2px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transform: translate(-10px, 0px);
    opacity: 0;
    transition: all 0.5s ease; }
    .badges .badge::before, .badges .badge::after {
      content: "";
      position: absolute;
      height: 50%;
      width: calc(100% + 10px);
      background-color: #490849;
      z-index: -1;
      transition: 0.1s ease-out; }
    .badges .badge::before {
      top: 0;
      left: -10px; }
    .badges .badge::after {
      bottom: 0;
      right: -10px; }
    .badges .badge:hover:nth-of-type(10n + 1) {
      background-color: #56c7fa; }
    .badges .badge:hover:nth-of-type(10n + 2) {
      background-color: #f76540; }
    .badges .badge:hover:nth-of-type(10n + 3) {
      background-color: #ff0582; }
    .badges .badge:hover:nth-of-type(10n + 4) {
      background-color: #50d82e; }
    .badges .badge:hover:nth-of-type(10n + 5) {
      background-color: #b67baa; }
    .badges .badge:hover:nth-of-type(10n + 6) {
      background-color: #068dcb; }
    .badges .badge:hover:nth-of-type(10n + 7) {
      background-color: #b02907; }
    .badges .badge:hover:nth-of-type(10n + 8) {
      background-color: #850042; }
    .badges .badge:hover:nth-of-type(10n + 9) {
      background-color: #287115; }
    .badges .badge:hover:nth-of-type(10n + 10) {
      background-color: #723f68; }
    .badges .badge:hover::after {
      right: -5px;
      background-color: inherit; }
    .badges .badge:hover::before {
      left: -5px;
      background-color: inherit; }

.timeline {
  width: 100%; }
  .timeline-item {
    padding-left: 40px;
    position: relative;
    margin-bottom: 1.1vh;
    transform: translate(0, 10px);
    opacity: 0;
    transition: all 1s ease; }
  .timeline-info {
    font-size: 0.7rem;
    font-weight: 400;
    font-style: italic;
    white-space: nowrap;
    text-align: start;
    padding-bottom: 0.2rem; }
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px; }
    .timeline-marker::before {
      background-color: #f2aa4c;
      box-shadow: 0px 1px 7px 0.8px #490849;
      border: 3px solid transparent;
      border-radius: 100%;
      content: "";
      display: block;
      height: 15px;
      position: absolute;
      top: 4px;
      left: 0;
      width: 15px;
      transition: background 0.3s ease-in-out, border 0.3s ease-in-out; }
    .timeline-marker:after {
      content: "";
      width: 3px;
      background: #ccd5db;
      display: block;
      position: absolute;
      top: 24px;
      bottom: 0;
      left: 6px; }
  .timeline-item:hover .timeline-marker::before {
    background: transparent; }
  .timeline-content {
    margin-bottom: 0.5vh; }
    .timeline-content p {
      text-align: start;
      font-size: 0.9rem; }
    .timeline-content h3 {
      margin-bottom: 0; }

@media only screen and (min-width: 600px) {
  .home {
    padding-left: 40px;
    padding-right: 40px; }
    .home__mybrain .brain-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px; }
  .timeline {
    margin: 0.5rem auto;
    width: max-content; } }

@media only screen and (min-width: 800px) {
  .home {
    padding-left: 60px;
    padding-right: 60px; }
    .home__mybrain {
      margin-top: 1.5vh; }
      .home__mybrain h2 {
        margin-bottom: 1.5vh; }
      .home__mybrain h3 {
        margin-bottom: 1.5vh; } }

@media only screen and (min-width: 900px) {
  .timeline {
    width: 50vw;
    display: table;
    margin: 2rem auto; }
    .timeline-item {
      display: table-row;
      padding: 0; }
    .timeline-marker {
      display: table-cell;
      width: 5%;
      position: relative;
      vertical-align: top;
      text-align: center; }
    .timeline-content {
      padding-left: 30px;
      vertical-align: top;
      text-align: center;
      display: table-cell;
      width: 50%; }
    .timeline-info {
      padding-top: 5px;
      padding-right: 30px;
      vertical-align: top;
      text-align: right;
      display: table-cell;
      width: 45%; } }

@media only screen and (min-width: 1000px) {
  .home {
    padding-left: 65px;
    padding-right: 65px; }
    .home__mybrain {
      margin-top: 3rem; }
      .home__mybrain .brain-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; } }

@media only screen and (min-width: 1200px) {
  .home {
    padding-left: 70px;
    padding-right: 70px; }
    .home h2 {
      font-size: 1.7rem; }
    .home h3 {
      font-size: 1.5rem; } }

.nav {
  position: fixed;
  top: 0;
  z-index: 10; }
  .nav__logo {
    position: fixed;
    top: 20px;
    left: 20px; }
    .nav__logo a h1 {
      display: inline-block;
      font-size: 1.28rem;
      font-style: italic;
      font-weight: 700;
      word-spacing: 2px;
      letter-spacing: 0.5px;
      transform: translate(0, 10px);
      opacity: 0;
      transition: all 1s ease; }
  .nav__menu {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
    transform: translate(0, 10px);
    opacity: 0;
    transition: all 1s ease; }
    .nav__menu__link {
      display: inline-block;
      font-weight: 700;
      font-size: 1rem;
      padding: 2px 0;
      height: 20px; }
      .nav__menu__link span {
        display: inline-block; }
      .nav__menu__link:hover {
        padding-bottom: 20px;
        transform: translate(-2px, 0px);
        text-shadow: 0px 3px 3px #6b0080; }
  .nav__socials {
    position: fixed;
    right: auto;
    bottom: auto;
    top: 77px;
    left: 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    transform: translate(0, 10px);
    opacity: 0;
    transition: all 1s ease; }
    .nav__socials__link {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .nav__socials__link i {
        color: #490849;
        transition: 0.3s ease; }
        .nav__socials__link i:hover, .nav__socials__link i:visited {
          color: #f2aa4c; }
  .nav__email {
    position: fixed;
    bottom: auto;
    top: 50px;
    left: 20px;
    height: 1.43rem;
    transform: translate(0, 10px);
    opacity: 0;
    transition: all 1s ease; }
    .nav__email a {
      color: #490849;
      font-size: 0.9rem; }
    .nav__email span {
      display: inline-block; }
      .nav__email span:hover {
        text-decoration: underline #6b0080; }

@media only screen and (min-width: 600px) {
  .nav__logo,
  .nav__email {
    left: 40px; }
  .nav__menu,
  .nav__socials {
    right: 40px; }
  .nav__logo,
  .nav__menu {
    top: 40px; }
  .nav__socials,
  .nav__email {
    bottom: auto;
    top: 70px; }
  .nav__socials {
    flex-direction: row;
    left: auto; }
  .nav__menu {
    flex-direction: row; }
  .nav__menu__link + .nav__menu__link {
    margin-top: 0;
    margin-left: 35px; } }

@media only screen and (min-width: 800px) {
  .nav__logo,
  .nav__email {
    left: 60px; }
  .nav__menu,
  .nav__socials {
    right: 60px; } }

@media only screen and (min-width: 1000px) {
  .nav__logo,
  .nav__email {
    left: 65px; }
  .nav__menu,
  .nav__socials {
    right: 65px; }
  .nav__socials {
    flex-direction: column;
    bottom: 40px;
    top: auto;
    left: auto; }
  .nav__email {
    top: auto;
    bottom: 30px;
    right: auto; } }

@media only screen and (min-width: 1200px) {
  .nav__logo,
  .nav__email {
    left: 70px; }
  .nav__menu,
  .nav__socials {
    right: 70px; } }

.intro {
  position: fixed;
  top: 0;
  z-index: 1000; }
  .intro__half {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: #490849;
    transition: all 1s ease;
    z-index: 2; }
    .intro__half:last-child {
      left: 50vw;
      background-color: #490849; }
  .intro__ver {
    position: absolute;
    top: 0;
    height: 0;
    opacity: 1;
    left: calc(50vw - 5px);
    width: 5px;
    background-color: #f2aa4c;
    z-index: 2;
    transition: all 1s; }
