@mixin color-badge {
    $chartColors: #56c7fa, #f76540, #ff0582, #50d82e, #b67baa;
    @for $i from 1 through length($chartColors) {
        $chartColors: append($chartColors, darken(nth($chartColors, $i), 25));
    }
    $chartColorsLength: length($chartColors);
    @for $i from 1 through $chartColorsLength {
        &:nth-of-type(#{$chartColorsLength}n + #{$i}) {
            background-color: nth($chartColors, $i);
        }
    }
}

@mixin show ($x:-50px,$y:0px, $time:2s){
    transform: translate($x,$y);
    opacity: 0;
    transition: all $time ease;
}