.nav {
    position: fixed;
    top: 0;
    z-index: 100;

    &__logo {
        position: fixed;
        top: 20px;
        left: 20px;
        transform: translate(0px, 0px) scale(1);
        transition: all 2s ease-in;
        &:hover {
            color: $deepblue;
            transform: translate(5px, 5px) scale(1.1);
        }

        & a h1 {
            display: inline-block;
            font-size: 1.28rem;
            font-style: italic;
            font-weight: 700;
            word-spacing: 2px;
            letter-spacing: 0.5px;
            @include show;
            &:hover {
                color: $deepblue;
            }
        }
    }

    &__menu {
        position: fixed;
        right: 20px;
        top: 20px;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: right;
        @include show;

        &__link {
            position: relative;
            display: inline-block;
            font-weight: 700;
            font-size: 1rem;
            padding: 2px;

            background: transparent;
            transition: all 0.7s ease-out;
            background: linear-gradient(
                270deg,
                rgba($blue, 0.8),
                rgba(146, 111, 52, 0.8),
                rgba(34, 34, 34, 0),
                rgba(34, 34, 34, 0)
            );
            background-position: 1% 50%;
            background-size: 300% 300%;
            border: none;
            &:hover {
                background-position: 99%;
                span {
                    // display: inline-block;
                    color: #fff;
                }
            }
        }
    }

    &__socials {
        position: fixed;
        right: auto;
        bottom: auto;
        top: 77px;
        left: 20px;
        z-index: 10;
        display: flex;
        @include show;

        &__link {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transform: translate(0px, 0px) scale(1);
            transition: all 2s ease-in;
            &:hover {
                transform: translate(5px, 5px) scale(1.1);
            }

            & i {
                color: $dark-purple;
                transition: 0.3s ease;

                &:hover,
                &:visited {
                    color: $deepblue;
                }
            }
        }
    }

    &__email {
        position: fixed;
        bottom: auto;
        top: 50px;
        left: 20px;
        height: 1.43rem;
 
        @include show;

        & span {
            display: inline-block;
            color: $dark-purple;
            font-size: 0.9rem;
    
            &:hover {
                text-decoration: underline $deepblue;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .nav__logo,
    .nav__email {
        left: 40px;
    }

    .nav__menu,
    .nav__socials {
        right: 40px;
    }

    .nav__logo,
    .nav__menu {
        top: 40px;
    }

    .nav__socials,
    .nav__email {
        bottom: auto;
        top: 70px;
    }

    .nav__socials {
        flex-direction: row;

        left: auto;
    }

    .nav__menu {
        flex-direction: row;
    }

    .nav__menu__link + .nav__menu__link {
        margin-top: 0;
        margin-left: 35px;
    }
}

@media only screen and (min-width: 800px) {
    .nav__logo,
    .nav__email {
        left: 60px;
    }

    .nav__menu,
    .nav__socials {
        right: 60px;
    }
}
@media only screen and (min-width: 1000px) {
    .nav__logo,
    .nav__email {
        left: 65px;
    }

    .nav__menu,
    .nav__socials {
        right: 65px;
    }

    .nav__socials {
        flex-direction: column;
        bottom: 40px;
        top: auto;
        left: auto;
    }

    .nav__email {
        // top: auto;
        bottom: 30px;
        right: auto;
    }
}
@media only screen and (min-width: 1200px) {
    .nav__logo,
    .nav__email {
        left: 70px;
    }

    .nav__menu,
    .nav__socials {
        right: 70px;
    }
}
